<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.memedai.orientdb.sns.realtime.service.impl"/>

    <util:map id="defaultKafkaMap">
        <entry key="bootstrap.servers" value="99.48.88.104:9092"/>
        <entry key="group.id" value="sns"/><!--此值为前缀，程序为将拼接上数据库实例名-->
        <entry key="enable.auto.commit" value="false"/>
        <!--<sns key="auto.commit.interval.ms" value="1000"/>-->
        <entry key="key.deserializer" value="org.apache.kafka.common.serialization.StringDeserializer"/>
        <entry key="value.deserializer" value="org.apache.kafka.common.serialization.ByteArrayDeserializer"/>
    </util:map>

    <!-- key为topic, value为kafka配置-->
    <util:map id="kafkaConfigMap">
        <entry key="wallet" value-ref="defaultKafkaMap"/>
    </util:map>

    <!--kafka消费的调度配置-->
    <!--key为topic: 每个topic对应数据库实例-->
    <util:map id="kafkaDispatchConfig">
        <!-- topic Start-->
        <entry key="wallet">
            <map>
                <!--table Start-->
                <entry key="apply_info">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="applyToOrientDBServiceImpl"/>
                                <ref bean="applyToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->

                <!--table Start-->
                <entry key="money_box_order">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="orderToOrientDBServiceImpl"/>
                                <ref bean="orderToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
            </map>
        </entry>
        <!-- topic End-->


        <!-- topic Start-->
        <entry key="credit_audit">
            <map>
                <!--table Start-->
                <entry key="ca_appl_member_device">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="caIpAndDeviceToOrientDBServiceImpl"/>
                                <ref bean="caIpAndDeviceToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->

                <!--table Start-->
                <entry key="ca_sys_phone_tag_merge">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="phoneTagToOrientDBServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->

                <!--table Start-->
                <entry key="ca_bur_operator_contact">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="caCallToOrientDBServiceImpl"/>
                                <ref bean="caCallToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->

                <!--table Start-->
                <entry key="ca_str_result">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="creditAuditApplyToOrientDBServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
            </map>
        </entry>
        <!-- topic End-->


        <!-- topic Start-->
        <entry key="credit_trade_audit">
            <map>
                <!--table Start-->
                <entry key="cta_order_deviceinfo">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="ctaIpAndDeviceToOrientDBServiceImpl"/>
                                <ref bean="ctaIpAndDeviceToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
            </map>
        </entry>
        <!-- topic End-->


        <!-- topic Start-->
        <entry key="cashloan">
            <map>
                <!--table Start-->
                <entry key="apply_info">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="cashLoanApplyToOrientDBServiceImpl"/>
                                <ref bean="cashLoanApplyToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
                <!--table Start-->
                <entry key="cash_loan_order">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="cashLoanOrderToOrientDBServiceImpl"/>
                                <ref bean="cashLoanOrderToMysqlServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
            </map>
        </entry>
        <!-- topic End-->


        <!-- topic Start-->
        <entry key="antifraud">
            <map>
                <!--table Start-->
                <entry key="phone_tag_merge_crawler_all">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="antifraudPhoneTagToOrientDBServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
            </map>
        </entry>
        <!-- topic End-->

        <!-- topic Start-->
        <entry key="accounting">
            <map>
                <!--table Start-->
                <entry key="FSS_LOANS">
                    <map>
                        <!--table service Start-->
                        <entry key="services">
                            <list>
                                <ref bean="loansToOrientDBServiceImpl"/>
                            </list>
                        </entry>
                        <!--table service End-->
                    </map>
                </entry>
                <!-- table End-->
            </map>
        </entry>
        <!-- topic End-->
    </util:map>

</beans>