<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="orientDbConfig">
        <prop key="url">remote:localhost/sns</prop>
        <prop key="userName">admin</prop>
        <prop key="password">admin</prop>
    </util:properties>

    <util:properties id="jdbcConfig">
        <prop key="driver">com.mysql.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>
        <prop key="userName">kisho.dai</prop>
        <prop key="password">djK0OyeHP</prop>
    </util:properties>

    <!--<util:properties id="sqlserverConfig">-->
    <!--<prop key="driver">com.mysql.jdbc.Driver</prop>-->
    <!--&lt;!&ndash;com.microsoft.jdbc.sqlserver.SQLServerDriver&ndash;&gt;-->
    <!--<prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>-->
    <!--<prop key="userName">kisho.dai</prop>-->
    <!--<prop key="password">djK0OyeHP</prop>-->
    <!--</util:properties>-->

    <util:properties id="kafkaProp">
        <prop key="bootstrap.servers">localhost:9092</prop>
        <prop key="group.id"></prop>
        <prop key="enable.auto.commit">false</prop>
        <!--<prop key="auto.commit.interval.ms">1000</prop>-->
        <prop key="key.deserializer">org.apache.kafka.common.serialization.StringDeserializer</prop>
        <prop key="value.deserializer">org.apache.kafka.common.serialization.StringDeserializer</prop>
    </util:properties>

    <util:list id="kafkaTopics">
        <value></value>
        <value></value>
    </util:list>

</beans>