<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.memedai.orientdb.sns.realtime.service.impl"/>

    <util:properties id="defaultKafkaProp">
        <prop key="bootstrap.servers">99.48.88.104:9092</prop>
        <prop key="group.id">test</prop>
        <prop key="enable.auto.commit">false</prop>
        <!--<prop key="auto.commit.interval.ms">1000</prop>-->
        <prop key="key.deserializer">org.apache.kafka.common.serialization.StringDeserializer</prop>
        <prop key="value.deserializer">org.apache.kafka.common.serialization.ByteArrayDeserializer</prop>
    </util:properties>

    <!--处理消息的调度配置，数据结构定义：key为topic-->
    <util:map id="kafkaDispatchConfig">
        <entry key="test">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "wallet.apply_info",
                                 "type": "record",
                                 "name": "apply_info",
                                 "fields": [
                                     {"name": "cellphone", "type": "string"},
                                     {"name": "member_id",  "type": ["long"]},
                                     {"name": "apply_no", "type": ["string"]},
                                     {"name": "created_datetime", "type": ["string"]},
                                     {"name": "apply_status", "type": ["int"]},
                                     {"name": "store_id", "type": ["string","null"]},
                                     {"name": "order_no", "type": ["string","null"]},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="applyToOrientDBServiceImpl"/>
                        <ref bean="applyToMysqlServiceImpl"/>
                    </list>
                </entry>
                <!--<entry key="kafkaProp">-->
                <!--<props>-->
                <!--<prop key="bootstrap.servers">99.48.88.104:9092</prop>-->
                <!--<prop key="group.id">test</prop>-->
                <!--<prop key="enable.auto.commit">false</prop>-->
                <!--<prop key="key.deserializer">org.apache.kafka.common.serialization.StringDeserializer</prop>-->
                <!--<prop key="value.deserializer">org.apache.kafka.common.serialization.ByteArrayDeserializer-->
                <!--</prop>-->
                <!--</props>-->
                <!--</entry>-->
            </map>
        </entry>

        <entry key="order">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "wallet.money_box_order",
                                 "type": "record",
                                 "name": "money_box_order",
                                 "fields": [
                                     {"name": "mobile", "type": "string"},
                                     {"name": "member_id",  "type": ["long"]},
                                     {"name": "order_no", "type": ["string"]},
                                     {"name": "created_datetime", "type": ["string"]},
                                     {"name": "status", "type": ["int"]},
                                     {"name": "store_id", "type": ["string","null"]},
                                     {"name": "pay_amount", "type": ["int"]},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="orderToOrientDBServiceImpl"/>
                        <ref bean="orderToMysqlServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>

        <entry key="caCallTo">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "wallet.ca_bur_operator_contact",
                                 "type": "record",
                                 "name": "ca_bur_operator_contact",
                                 "fields": [
                                     {"name": "APPL_NO", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="caCallToOrientDBServiceImpl"/>
                        <ref bean="caCallToMysqlServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="phoneTag">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "wallet.ca_sys_phone_tag_merge",
                                 "type": "record",
                                 "name": "ca_sys_phone_tag_merge",
                                 "fields": [
                                     {"name": "PHONE_NO", "type": "string"},
                                     {"name": "PHONE_TYPE", "type": "string"},
                                     {"name": "SOURCE", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="phoneTagToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="store">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "MERCHANTAUDIT.ma_store_baseinfo",
                                 "type": "record",
                                 "name": "ma_store_baseinfo",
                                 "fields": [
                                     {"name": "STOREID", "type": "int"},
                                     {"name": "MERCHANTID", "type": "int"},
                                     {"name": "STORENAME", "type": "string"},
                                     {"name": "PROVINCE", "type": "string"},
                                     {"name": "CITY", "type": "string"},
                                     {"name": "CREDIT_LIMIT_TYPE", "type": "int"},
                                     {"name": "POLICY_BRACKET", "type": "string"},
                                     {"name": "BUSINESS_FIRST_TYPE", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="storeToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="caIpAndDevice">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "network.ca_appl_member_device",
                                 "type": "record",
                                 "name": "ca_appl_member_device",
                                 "fields": [
                                     {"name": "APPL_NO", "type": "string"},
                                     {"name": "DEVICE_ID", "type": "string"},
                                     {"name": "IP", "type": "string"},
                                     {"name": "IP_CITY", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="caIpAndDeviceToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="ctaIpAndDevice">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "network.cta_order_deviceinfo",
                                 "type": "record",
                                 "name": "cta_order_deviceinfo",
                                 "fields": [
                                     {"name": "ORDER_ID", "type": "string"},
                                     {"name": "DEVICE_ID", "type": "string"},
                                     {"name": "IP", "type": "string"},
                                     {"name": "IP_CITY", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="ctaIpAndDeviceToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="member">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "memedai.MEMBER",
                                 "type": "record",
                                 "name": "MEMBER",
                                 "fields": [
                                     {"name": "MEMBER_ID", "type": "int"},
                                     {"name": "MOBILE_NO", "type": "string"},
                                     {"name": "NAME", "type": "string"},
                                     {"name": "ID_NO", "type": "string"},
                                     {"name": "PROVINCE", "type": "string"},
                                     {"name": "CITY", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="memberToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="loan">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "memedai.LOANS",
                                 "type": "record",
                                 "name": "LOANS",
                                 "fields": [
                                     {"name": "BORROWER_ID", "type": ["long"]},
                                     {"name": "OVERDUE_DAYS", "type": "int"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="loansToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
        <entry key="idCard">
            <map>
                <entry key="avroSchema">
                    <value>
                        <![CDATA[
                                {"namespace": "credit_audit.ca_sys_value_id_area",
                                 "type": "record",
                                 "name": "ca_sys_value_id_area",
                                 "fields": [
                                     {"name": "ID_PREFIX", "type": ["string"]},
                                     {"name": "PROVINCE", "type": "string"},
                                     {"name": "CITY", "type": "string"},
                                     {"name": "AREA", "type": "string"},
                                     {"name": "__op", "type": ["string"]}
                                 ]
                                }
                           ]]>
                    </value>
                </entry>
                <entry key="services">
                    <list>
                        <ref bean="idCardToOrientDBServiceImpl"/>
                    </list>
                </entry>
            </map>
        </entry>
    </util:map>

</beans>