<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- TODO -->
    <util:properties id="sqlProp">
        <prop key="insertMemberIndex">
            <![CDATA[]]>
        </prop>
    </util:properties>

    <util:properties id="snsOrientSqlProp">
        <prop key="updateMemberOverdueToTrue">
            <![CDATA[update Member set isOverdue=true where memberId=?]]>
        </prop>
    </util:properties>

</beans>