<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="orientDbConfig">
        <prop key="url">remote:99.48.88.104/sns</prop>
        <prop key="userName">admin</prop>
        <prop key="password">admin</prop>
    </util:properties>

    <util:properties id="jdbcConfig">
        <prop key="driver">com.mysql.jdbc.Driver</prop>
        <prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>
        <prop key="userName">kisho.dai</prop>
        <prop key="password">djK0OyeHP</prop>
    </util:properties>

    <!--<util:properties id="sqlserverConfig">-->
    <!--<prop key="driver">com.mysql.jdbc.Driver</prop>-->
    <!--&lt;!&ndash;com.microsoft.jdbc.sqlserver.SQLServerDriver&ndash;&gt;-->
    <!--<prop key="url">jdbc:mysql://115.29.177.124:3306/MERCHANTAUDIT</prop>-->
    <!--<prop key="userName">kisho.dai</prop>-->
    <!--<prop key="password">djK0OyeHP</prop>-->
    <!--</util:properties>-->

    <!--JDBC数据源 配置-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{jdbcConfig.driver}"/>
        <property name="url" value="#{jdbcConfig.url}"/>
        <property name="username" value="#{jdbcConfig.userName}"/>
        <property name="password" value="#{jdbcConfig.password}"/>
        <property name="initialSize" value="2"/>
        <property name="maxTotal" value="-1"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="validationQuery" value="select 1"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>

    <!--JDBC数据源 配置-->
    <!--<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
    <!--<property name="dataSource">-->
    <!--<ref bean="dataSource"/>-->
    <!--</property>-->
    <!--</bean>-->

    <bean id="sql" class="groovy.sql.Sql">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!--<bean id="sqlserverJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
    <!--<property name="dataSource">-->
    <!--<bean class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">-->
    <!--<property name="driverClassName" value="#{sqlserverConfig.driver}"/>-->
    <!--<property name="url" value="#{sqlserverConfig.url}"/>-->
    <!--<property name="username" value="#{sqlserverConfig.userName}"/>-->
    <!--<property name="password" value="#{sqlserverConfig.password}"/>-->
    <!--<property name="initialSize" value="2"/>-->
    <!--<property name="maxTotal" value="-1"/>-->
    <!--<property name="testOnBorrow" value="true"/>-->
    <!--<property name="testOnReturn" value="true"/>-->
    <!--<property name="testWhileIdle" value="true"/>-->
    <!--<property name="validationQuery" value="select 1"/>-->
    <!--<property name="defaultAutoCommit" value="true"/>-->
    <!--</bean>-->
    <!--</property>-->
    <!--</bean>-->

</beans>